[2019-12-12 20:26] hishamhm opened #2 "remove the BasePlugin dependency"
Since Kong 1.2, the `BasePlugin` instantiation is no longer necessary and simply adds an unnecessary indirection in plugin calls.

See https://github.com/Kong/kong/commit/a29c3553f43dd53cfc78d618e653e3e7ae484dbb

[2019-12-12 20:41] fffonion commented on #2
@hishamhm Thank you pointing this out! I will push a commit to fix this.

[2019-12-12 21:25] fffonion commented on #2
closing as fixed in #3

[2019-12-12 21:25] #2 closed

[2020-01-10 21:25] lukasa1993 opened #6 "plugin not found 2.0.0rc1"
trying to use plugin on 2.0.0 kong i can see it exists in racks folder but when i calll kong admin to enable it it says couldnt be found do i need to enable it some other way?

[2020-01-10 21:27] fffonion commented on #6
Hi @lukasa1993 , the acme plugin is not a `bundled` plugin with Kong. You need to enable it explictly, try add the following line to your kong.conf:
[code]

[2020-01-11 04:54] lukasa1993 commented on #6
thank you

[2020-01-11 04:54] #6 closed

[2020-01-11 20:38] lukasa1993 opened #7 "route http to https redirect"
cant seem to make this work with 301 redirects on routes from http to https should i disable it? also does it need http method enabled on routes to work?

[2020-01-11 23:45] fffonion commented on #7
Hi @lukasa1993 the route needs to match /.well-known/acme-challenge/ path in http protocol so the plugin can complete challenge. You will need to exclude that path from being 301 redirected.

[2020-01-12 05:11] lukasa1993 commented on #7
hmm so i manually add it and leave my existing routes as is ?

hmm can plugin do this also automatically? like just before verification to add such routes and then remove them?

[2020-01-13 01:27] fffonion commented on #7
correct. just create a route with such and don't associate with any service. the acme plugin will work like a request termination plugin on that specific path.

that is definitely possible to do as a plugin. but doesn't seem a good pattern to me. (actually the current logic to add/update sni/cert in this plugin is also hacky and i'm thinking of replacing it).

[2020-01-13 04:27] lukasa1993 commented on #7
whats wrong with it?

one more thing should it run dry-run first so if route isnt setup correctly it wont gir rate-limmiter

[2020-01-13 06:01] fffonion commented on #7
you can use the staging API with very high rate limiting to test your setup by setting `config.api_url` to `https://acme-staging-v02.api.letsencrypt.org/`

[2020-01-13 06:06] lukasa1993 commented on #7
thank you

[2020-02-12 05:32] fffonion commented on #7
Consider resolved, please reopen if you have any questions : )

[2020-02-12 05:32] #7 closed

[2020-02-16 10:51] guyromb opened #10 "Letsencrypt http-01 verification fails due to 404"
10.0.0.35 - - [15/Feb/2020:17:29:11 +0000] "GET /.well-known/acme-challenge/qgKUJAHBSeiQ6Tq3jYhMBo-Yg3u9rkKAQdXvINoXEsE HTTP/1.1" 404 48 "-" "Mozilla/5.0 (compatible; Let's Encrypt validation server; +https://www.letsencrypt.org)"

Letsencrypt try to access the acme-challenge path but this returns 404 from konga.
Any idea how to fix this? Do I need to set the routes manually for this plugin to wor

[2020-02-16 11:02] guyromb opened #11 "Certificates are generated for all subdomains despite *.example.com setting"
Plugin domains configuration is set to:
[code]

Expected to generate for configured domains. Instead it generates for www.example.com and example.com.

Also, next time subdomain1.exmaple.com is requested, it will generate a certificate for subdomain1.example.com. This will cause issues with Letsencrypt when you have many sub domains (monthly limit reached). Instead it should only generate *.exampl

[2020-02-16 13:54] fffonion commented on #11
Hi,
Wildcard certificates are supported by dns verifications, which this plugin or current model won't support. The star symbol in domains config is only to match domains but not actually use in cert.

The Let's Encrypt rate limit for cert per domain is 50 per week, meaning you can have 50 subdomain certificate for each example.com every week, which I assume will be sufficient for most users. If y

[2020-02-16 13:59] fffonion commented on #10
Hi, this might be bug or expected behaviour in different context. Could you also share the error log before and after 1 minute of that time please?

[2020-02-27 10:09] UNOPARATOR commented on #10
I have (more or less) the same issue. I'm running kong 2.0.1 along with konga in AKS with kong-admin api using nginx ingress (kong ports 8000 & 8443 are public ingress to 80 & 443 while kong admin api ports 8001 & 8444 & konga's port are private ingress). The plugin is set to redis as storage and I can see the key/values generated. But only the default kong localhost certificate is returned.

Here

[2020-02-27 10:43] fffonion commented on #10
@UNOPARATOR Could you share the share the result of following command
`curl KONG_IP/.well-known/acme-challenge/x -H "host:my-subdomain.westeurope.cloudapp.azure.com"` ?

If it outputs `Not found` then meaning the plugins is correctly configured, there might be something else to dig. If a Kong error `no Route matched with those values` is returned or an error from your upstream is returned, then me

[2020-02-27 10:53] UNOPARATOR commented on #10
The response is : `{"message":"no Route matched with those values"}`

**P.S:** Could it be related to me using nginx ingress instead of kong ingress?

[2020-02-27 11:05] fffonion commented on #10
@UNOPARATOR Could be, but let's sort out other possibilities first.

Could you share the following:
- acme plugin configuration from admin API
- is there a route that can match Host `my-subdomain.westeurope.cloudapp.azure.com` or `/` path?

[2020-02-27 11:33] UNOPARATOR commented on #10
plugin configuration taken from kong-admin-API/plugins:
[code]
If you mean kong routes then no. All the service routes in kong are using only paths none of which are `/`.

[2020-02-27 12:05] fffonion commented on #10
@UNOPARATOR the plugin conf looks sane. I would suspect the later is the issue. If a request doesn't match any route in Kong, then no plugin will run.

So in order for this plugin to actually run on that validation path, you will need a route to match path `/.well-known/acme-challenge/`. The route can be associated a dummy service (like localhost:65535). When the validation request comes in, the p

[2020-02-27 12:38] UNOPARATOR commented on #10
Per your suggestion, I added a service (`http://localhost`) and a route to that service (`/.well-known/acme-challenge/`) and after that it returned `Not found` to the previous `curl` command.
What I don't understand is, why does the plugin not handle this? Is this a requirement for my case alone (using nginx) or did I miss something hidden somewhere mentioning this is needed?

I still get invalid

[2020-02-27 22:40] fffonion commented on #10
@UNOPARATOR This is by design of plugin system in Kong, that a non-matching route will not run a global plugin. It might be the same case for @guyromb as well. I'll add this note to readme.

The screenshot and curl response looks correct. It failed to verify because it's not issued by a valid CA. After chaing to prod and if you are using the same domain, you will need to manually deleted the previ

[2020-02-28 04:47] UNOPARATOR commented on #10
Thank you very much for your timely assistance.
I deleted the existing certificate (from konga); and after my 2nd attempt *(as excepted)* at a route, it returned a valid certificate. YAY! =)

I see that you've added the necessary information along with curl commands to the read.me.

**P.S.:** I now understand how the global plugins work, but I still think the dummy service & the `/.well-
known/acm

[2020-02-28 05:21] fffonion commented on #10
@UNOPARATOR  👍

Yeah that is a good point, though some user may not find the dummy service needed. For example if your route matches `paths[]=/` then the validation path is already included. There's definitely some space for usibility improvements regarding dummy route and service, let me think over it.

[2020-02-28 11:08] UNOPARATOR commented on #10
By the way, can you share a `curl` command to enable the plugin with storage_config too?

I couldn't succeed in any way that I tried**, so I enabled it by default then changed the value from the PostgreSQL DB's plugins table. ^_^;

** it always returned to me this:
[code]

**P.S.:** You might want to reflect your documentation *(read.me)* changes to `https://docs.konghq.com/hub/kong-inc/acme/`too.

[2020-02-28 14:39] fffonion commented on #10
@UNOPARATOR You can use the following syntax:

curl localhost:8001/plugins/uuid -X PATCH -d config.storage_config.redis.auth=1

or use json content type instead (see https://docs.konghq.com/1.1.x/admin-api/#supported-content-types).

Yes thanks for reminding me, I will sync that with docs.konghq.com later 👍

[2020-03-02 07:48] Entrio opened #13 "Fails to obain certificate, getting strange error log"
Hi, I am experiencing a weird issue. Looking at the log file, i get the following error:

[code]

in my kong.conf I have the line:
`nginx_proxy_lua_ssl_trusted_certificate = /etc/ssl/certs/ca-certificates.crt
`

output of `ls -lah /etc/ssl/certs/ca-certificates.crt` i get:
`-rw-r--r-- 1 root root 203K Nov 27 04:09 /etc/ssl/certs/ca-certificates.crt`

[2020-03-02 08:08] Entrio commented on #13
My apologies, after restarting KONG (I was reloading before) everything was up and running

[2020-03-02 08:09] #13 closed

[2020-03-19 08:56] fffonion commented on #11
Consider this resolved, please feel free to reopen if you have other questions : )

[2020-03-19 08:56] #11 closed

[2020-03-19 08:56] fffonion commented on #10
Consider this resolved, please feel free to reopen if you have other questions : )

[2020-03-19 08:56] #10 closed

[2020-04-23 18:57] McBochi opened #16 "Add multiple domains at once"
Hey guys,

it might sound stupid, but I am struggling to add more than one domain at once.
I tried almost every possible combination for the input data:
- [domain1.com, domain2.com]
- domain1.com, domain2.com
- domain1.com domain2.com
- {domain1.com, domain2.com}
..and all of it also encapsulated in quotes.

All I ever get is a error message like this:
[code]

I also checked the code for all the s

[2020-04-24 05:41] fffonion commented on #16
Hi, if you are using form-encoded then config.domains[] can be specified multiple times:
[code]
or you can just post the config as a JSON.

I'm not sure what you mean by similar result as #11, could you elaborate more please?

[2020-04-25 08:55] McBochi commented on #16
@fffonion Thanks for the eye opener! Feeling a bit stupid right know...
I also tried the request that way but I was using Postman with the body type set to "form-data". However, this always resulted in only the second domain being stored by kong.
I changed the request to "x-www-form-urlencoded" and it works!

Result when requesting the plugin status now looks like seen in #11 - this is what I refe

[2020-04-25 08:55] #16 closed

[2020-05-11 21:52] OneideLuizSchneider opened #18 "Plugin doesn't work"
Hi,
I'm trying to figure out what is happening, my configuration looks well, I tested with the commands on the readme, but it doesn't run or generate the certificate. I don't know why.
And I'm using the plugin in database mode.

[code]

<img width="956" alt="Screen Shot 2020-05-11 at 18 48 53" src="https://user-images.githubusercontent.com/5761239/81615560-2effc100-93b8-11ea-90b4-192598bfb806.png"

[2020-05-12 01:57] OneideLuizSchneider commented on #18
I just forgot to run the generate command.
`curl https://mydomain.com -k`

[2020-05-12 01:57] #18 closed

[2020-05-16 13:16] BogdanDarius commented on #7
I have a similar issue.
So i have two routes:
- One at "/" pointing to my service localhost:5000 with redirect 301
- One at "./well-known/acme-challenge/" separate from the service
I am using kong with docker so when I create a new container I use
[code]
The problem is that when I trigger the creation of certificate using
[code]
I get
[code]
Can you please point out what I am doing wrong.
Thanks i

[2020-05-16 13:54] fffonion commented on #7
@BogdanDarius the first time you access the url it's okay to ignore the certificate checking (by using `curl -k https://mydomain.com`) since Kong by default serves a self signed certificate. after the request goes through, kong will start apply certificate from let's encrypt and you don't need the `k` flag anymore.

[2020-05-16 18:22] BogdanDarius commented on #7
@fffonion Thanks for response!
When I run it using insecure option -k I get two blank lines and then my api response.
The certificate is not issued that is the probleme.

[2020-05-16 20:29] BogdanDarius commented on #7
@fffonion Thanks for response.
I was looking through docker logs here is what I get
[code]

[2020-05-16 23:39] BogdanDarius commented on #7
Got it working. Thanks!

[2020-05-22 01:31] Xplouder opened #20 "Question: certs renew"
Hi,

I noticed that accordingly with the logs, there was no attempt to renew the certificates. Some of my domains will expire in 13 days so I believe that the automatic renew is disabled or some of my configs are wrong.
How the renewal internally work? I couldn't find reference for a cron so I believe is there some kind of scheduler.

Kong version: 2.0.3 with acme plugin active

My acme plugin con

[2020-05-22 05:41] fffonion commented on #20
Hi @Xplouder, since you are using the `"shm"` storage, all renew configs are stored in your shm not in db (hence `acme_storage` table is empty), which might be the case here since it doesn't survive between restarts. Also usually renewal messages are shown as info level, you will need to set correct log level if you want to check if renewal really runs.

The default value for storage is `"shm"` ma

[2020-05-22 05:45] fffonion commented on #20
Basically it's a openresty timer that runs every 24h, that checks for "renew configs" in the configured storage. Then it checks each certificate if it's due for renewal. You'll be able to see the last timestamp renewal scheduler runs by getting the [kong_acme:renew_last_run](https://github.com/Kong/kong-plugin-acme/blob/master/kong/plugins/acme/client.lua#L11) key from configured storage.

[2020-05-22 09:55] Xplouder commented on #20
@fffonion Thanks for the response. So, since I'm using Postgres, which value for ```"storage"``` config I should use? I believe "kong" is the one.
Also, setting this correctly, the renew jobs will start work correctly? If not, what I have to do?

[2020-05-22 11:54] fffonion commented on #20
@Xplouder Yes, simply change it to `"kong"` and it should work. You can set a very high `renew_threshold_days` and see if it correctly renews in one day (or even change the code to let the timer run less than 1 day https://github.com/Kong/kong-plugin-acme/blob/master/kong/plugins/acme/handler.lua#L54). If it doesn't work try set kong's log_level to `debug` and see it there's anything interesting i

[2020-05-22 13:03] Xplouder commented on #20
Aight, I'll post here the updates, probably tomorrow.

[2020-05-23 01:52] Xplouder commented on #20
I will try to describe what happened:

I had old certs in the database, however, they were created before the change storage config from `shm` to `kong`

The command `curl https://<my_domain> -k` (using an old domain that could be renewed) was producing the following logs:
[code]

The `acme_storage` table remained the same (just few entries that came in when I registered a new test domain after st

[2020-05-23 07:56] fffonion commented on #20
The behaviour is expected: when moving storage kong will lost knowledge of renew configs in the previous storage.

You are right, the plugin indeed doesn't clear the renew config when the cert is deleted, though theoretically it will fail gracefully and no new cert will be created. I will open a PR to fix this.

Thanks for reporting this!

[2020-05-23 13:51] Xplouder commented on #20
Thanks for all the help!

[2020-05-23 13:51] #20 closed

[2020-06-11 03:52] SergeRadinovich opened #27 "Plugin error in dbless mode"
I am trying to configure the plugin on Kong deployed on K8s (dbless).

Ingress Controller logs show this error:
[code]

Trying to hit the acme route produces 503:
[code]

KongPlugin CR looks like this:
[code]

Relevant ingress looks like this:
[code]

Ingress points to this svc (selector pointing to nothing)
[code]

[2020-06-11 06:07] fffonion commented on #27
Hi @SergeRadinovich according to `{plugins={[5]={route=\"value must be null\"}}}"}` looks like you are attaching this plugin to a specific route. However this plugin can only be used as a global plugin at present.

[2020-06-11 06:26] sergerad commented on #27
Thanks for the response.

Am I right in assuming all I have to do is `kubectl apply -f` the following yaml for the plugin to be working globally?

[code]

[2020-06-11 06:32] sergerad commented on #27
Without the annotation the logs show this when trying to make the acme dummy ingress
[code]

Do I need to make a deployment that the svc points to? Or make another svc type? This is not documented I believe.

[2020-06-11 08:47] sergerad commented on #27
Found that the plugin is not required for setting up HTTPs on K8s Kong as per this guide:

https://github.com/Kong/kubernetes-ingress-controller/blob/master/docs/guides/cert-manager.md

Had an issue relating to the ClusterIssuer

[2020-06-11 08:47] #27 closed

[2020-06-14 10:51] alexandruhog opened #28 "What is the purpose of KONG_LUA_SSL_TRUSTED_CERTIFICATE with Kong Docker in DBless mode?"
Hello everyone. I have been trying for 2 days to enable the ACME Plugin, but with no good results. I didn't understand exactly what value this env KONG_LUA_SSL_TRUSTED_CERTIFICATE is supposed to have?
This is my .yml for kong docker:

[code]
I have succesfuly set up TLS Termination with Kong by using the old way, with "Certificates" object, but I would love to use the new Acme Plugin. Please help

[2020-06-14 10:56] fffonion commented on #28
@alexandruhog `kong:latest` is built on alpine, in that case you will need KONG_LUA_SSL_TRUSTED_CERTIFICATE to be `/etc/ssl/cert.pem`

[2020-06-14 11:01] alexandruhog commented on #28
Ok, thank you, but what should this file "/etc/ssl/cert.pem" be used for? I mean, do I have to pass a .pem file at the building time of the container, or what?

[2020-06-14 11:14] fffonion commented on #28
@alexandruhog that will be the CA certificates bundle that the plugin used to validate Let's Encrypt API.
This pem is already included in the kong image, you don't need to provide it by your own.

[2020-06-14 11:37] alexandruhog commented on #28
Oh my God, thank you so much, I ve been hurting my head over the internet in the past 2 days in vain.
One more question, regarding the .yml for configuration. Is this valid (ignoring the lack of `config.storage_config` options).

[code]
Thank you very, very much!

[2020-06-14 12:01] fffonion commented on #28
@alexandruhog since you already have a catch-all route:
[code]
there's actually no need to add `dns1-acme-dummy` and `dns2-acme-dummy`.

Also [kong nation](https://discuss.konghq.com/) can be a good resource as well in case you got stuck next time : )

[2020-06-14 19:28] alexandruhog commented on #28
Thank you very much for your time. I recently started to play with Kong and I didn't know a better place to address this question. Thank you, it is all clear now. I will close the issue :)

[2020-06-14 19:28] #28 closed

[2020-06-15 12:48] alexandruhog opened #29 "Problems with certificate persistence"
Hello!

I am trying to couple Kong with Vault for certificate persistent storage. I managed to spin up the Vault and Kong services, I got a certificate, so far, so good, but I needed to restart the Kong service and my certificate was lost. Could someone tell me why this happened?

The stack file:
[code]
The kong.yml file:
[code]
The Vault config file:
[code]
I got my cert using the command from th

[2020-06-15 12:51] fffonion commented on #29
@alexandruhog could you check in the vault kv path `acme` and see if there's keys under that path?

[2020-06-15 12:56] alexandruhog commented on #29
Unfortunately I stopped that service too, because I needed to revert to my old config with static cert, because I reached the 5 weekly cert limit. But as far as I can remember from the logs yea, there was a key created with the "acme" preffix. And I do believe that's right, because the certificate also worked, until I restarted the kong service

[2020-06-15 13:01] fffonion commented on #29
@alexandruhog you could test using the staging environment API with higher rate limiting, and switch to prod API after everything is working. I'd suggest poke the vault kv API when kong is started and unable to find the key and also set KONG_LOG_LEVEL to `debug`. It's unclear to say where to start debugging right now.

[2020-06-15 13:13] alexandruhog commented on #29
Ok, I will do this and return with fresh news, thanks

[2020-06-16 09:21] alexandruhog commented on #29
Hello again @fffonion .  I swapped Vault with Redis, enabled the staging api for letsencrypt and tried to generate a new certificate. This time, another error arose:
[code]
stack file:
[code]
kong.yml file:
[code]

Any ideas  why?

UPDATE: I tested again, on my local machine, using the PRODUCTION letsencrypt API url and it worked. I believe it's from this uri `https://acme-staging-v02.api.letsencr

[2020-06-17 08:53] alexandruhog commented on #29
@fffonion any updates?

[2020-06-17 09:13] fffonion commented on #29
there're multiple problems, let's figure out one at a time:
[code]
for this issue did you notice any previous error log, especially when the worker starts?

[2020-06-17 13:05] alexandruhog commented on #29
@fffonion nope, at all, but right now, my biggest concern is with the second update in my answer: when pairing with stateful redis, why does the plugin renews the certs (until the rate limit is hit) with every request?

[2020-06-17 14:34] fffonion commented on #29
@alexandruhog No problem, let me run some tests around that.

[2020-06-17 14:41] alexandruhog commented on #29
@fffonion Sure mate, you can maybe use my local testing files:
[code]
[code]

[2020-06-19 09:12] alexandruhog commented on #29
@fffonion Any updates? I would really love to start using this plugin in production ^_^

[2020-06-19 11:01] fffonion commented on #29
@alexandruhog Hi sorry I forgot to post here, I tried the redis storage and it do seems working on my side.
Could you check the following for me:
- set log level to debug, `KONG_LOG_LEVEL=debug`
- after you run the `openssl s_client` command, does kong log show a line `order is completed` and check if there's key in the redis store, normally there'll be
[code]

[2020-06-19 13:37] alexandruhog commented on #29
Hello dear @fffonion. The only thing that is outputed, is this one:
[code]

[2020-06-19 13:38] fffonion commented on #29
looks like those are all access logs (outputed to stdout), maybe look at error logs (sent to stderr)?

[2020-06-19 13:40] alexandruhog commented on #29
@fffonion docker compose outputs both STDOUT and STDERR errors. This is everything I've got. If you want, we can talk over Google Hangouts/ Skype/ Slack/ whatever u want to be more productive

[2020-06-19 13:42] fffonion commented on #29
@alexandruhog Let's do that here so other people can read as well in the future. let's do this, add this to your environments

`KONG_LOG_LEVEL=debug`

[2020-06-19 13:43] alexandruhog commented on #29
already did this :D

[2020-06-19 13:44] alexandruhog commented on #29
[code]

[2020-06-19 13:46] alexandruhog commented on #29
yea, it says this:
[code]

[2020-06-19 13:50] fffonion commented on #29
okay this is good. let's move to next step. when you observe that kong creates a new cert every time you do `openssl s_client`, does this line got produced everytime?
and let's check the keys that are in redis once.

[2020-06-19 13:52] alexandruhog commented on #29
If I do not restart the container, no. But if I do a container restart, yes, it says this again:
[code]

[2020-06-19 13:54] alexandruhog commented on #29
And now, the rate limiter hit again :) I re-started the Kong container (without restarting the Redis one).

[2020-06-19 13:56] fffonion commented on #29
I'm not testing in a container but i do try restarted kong and didn't reproduce it. it shouldn't matter whether it's in docker or not since it's stateless on kong side. i'd still suspect the persistence got lost with redis container.
when you restart kong container, could you connect to the redis container with `redis-cli` and run
`KEYS *` to list all keys inside?

[2020-06-19 14:00] alexandruhog commented on #29
Indeed, KEYS * gave me an empty array

[2020-06-19 14:04] fffonion commented on #29
okay, so if you do saw a valid cert being returned at one time, then it somehow got lost. i'd suggest to run `keys *` before kong restart and verify if there's keys being created.
and if it does, maybe we should tweak the redis config. since you are using appendonly mode, i'd check if the appendonly.aof file is empty or in wrong place.

[2020-06-19 14:06] alexandruhog commented on #29
the appendonly.aof is, indeed, empty everytime

[2020-06-19 14:10] fffonion commented on #29
we should probably check with redis container logs then

[2020-06-19 14:13] alexandruhog commented on #29
oddly enough, there is no logs outputted for the redis container.

[2020-06-19 14:16] alexandruhog commented on #29
I listed the databases and the keyspaces. 16 databases created, but no keyspace. I believe the connection between kong and redis is broken, but I can't figure out exactly who is the culprit. May it be my config settings?
[code]

[2020-06-19 14:19] fffonion commented on #29
the plugin do need to read from redis to get the certificate, so if you do saw a valid cert being returned, then the connection between kong and redis should be fine.

[2020-06-19 14:20] alexandruhog commented on #29
Yea, everytime I run that `openssl s_client` command, a valid cert is being returned. However, 0 keyspace, and the appendonly.aof file is empty. What could be the cause?

[2020-06-19 14:23] alexandruhog commented on #29
redis's persistance also works. I manually set a key through redis-cli, it was written inside the file and it persists through container removal and restart. So, again, I belive the culprit is the way Kong interacts with redis

[2020-06-19 14:28] alexandruhog commented on #29
Are you sure you don't want to directly talk to me over another medium? I can resume what action did we take to fix this so people will find out. I still believe it's the most optimal way to communicate tho

[2020-06-19 14:34] fffonion commented on #29
probably not at this time, still got some distractions IRL 😄

[2020-06-19 14:35] alexandruhog commented on #29
Ok then, please tell me if I can provide you some more input, or is it enough for now?

[2020-06-21 15:30] alexandruhog commented on #29
@fffonion hello mate, any updates?

[2020-06-22 14:35] fffonion commented on #29
My suggestion for further debugging will be:
- Share the full `debug` level kong log here, you can remove sensitive information like acme response and cert/key but do make sure no log entries are removed.
- Use a docker exec to login into the kong container, and use `telnet` to check connection to redis server, and make sure Kong is talking to the correct container.
- Use [MONITOR](https://redis.i

[2020-06-24 07:02] chzhuo opened #30 "Should add Kong version dependency"
Not working on kong which version below 1.3, because `typedefs.hosts`

[2020-06-24 17:14] javierguerragiraldez commented on #30
Unfortunately, we currently don't have a way to declare dependencies in the plugin->host direction.  We're aware of the problem.

[2020-06-24 17:14] #30 closed

[2020-06-25 12:07] alexandruhog commented on #29
Hello @fffonion well, the Redis server works, because I managed to enter inside it and issue store, load and delete commands. However, no output from terminal is shown when the 2 containers (kong and redis) are brought up. It seems that the kong container **does not** communicate with the Redis container.
I managed, however, to **ping** the redis container from within the kong contianer. So there

[2020-06-25 13:50] alexandruhog commented on #29
@fffonion this is the full log:
[code]

[2020-06-25 13:57] alexandruhog commented on #29
@fffonion and lastly, I ran the MONITOR command, but in vain, nothing shown up when generating a new certificate. Again, as far as I am concerned, the kong plugin **does not manage** to communicate properly with the redis database. Either there are errors which are not shown (which would be strange given the fact that everything is logged), or there is a corner cased which was overseen.

[2020-06-25 15:11] fffonion commented on #29
ah, i now see why now... i didn't notice it as well, you will need to specify the storage type in config as well, otherwise it's default to shm:
[code]

[2020-06-25 15:25] alexandruhog commented on #29
@fffonion u got to be kidding me lol =))

[2020-06-25 15:32] alexandruhog commented on #29
@fffonion ok, this time around i got this:
[code]
with config file:
[code]

[2020-06-25 15:35] fffonion commented on #29
I guess you will need to make auth `null` not `"null"` or just remove it
[code]

[2020-06-25 15:42] alexandruhog commented on #29
Finally, I can confirm it works :) Thank you!

[2020-06-25 15:42] #29 closed

[2020-07-07 13:18] alexmbird opened #38 "ACME responses are blocked by auth plugins"
I'm trying to use the ACME plugin to automatically provision TLS certs from LetsEncrypt and have run into a clash with the [basic auth](https://docs.konghq.com/hub/kong-inc/basic-auth) plugin.  Presumably this will affect other kinds of auth too.

The setup is a simple one:

- A Kubernetes `Ingress` resource (path `/`) that is translated to a route by the Kong [ingress controller](https://github.c

[2020-07-07 13:32] fffonion commented on #38
Yeah that's good point, we can address that. cc @gszr

In the meanwhile, there's a work around for this. Since Kong only maps a request to a single route, as long as your basic auth plugin is not applied globally, you can actually create a dummy route (similar to https://github.com/Kong/kong-plugin-acme#enable-the-plugin). So that the challenge request will map to the dummy route, not to `/` where

[2020-07-07 14:28] alexmbird commented on #38
Thanks @fffonion.  I've verified the workaround functions but in our use case it poses a challenge: when created via the Kong ingress controller every route needs its own `Ingress` resource.  I'm planning to host many different domains on this Kong instance so I'll have to create an extra ingress for each of them.

I did try creating a single one with a wildcard hostname, but it seems Kong's Nginx

[2020-07-07 14:43] fffonion commented on #38
@alexmbird In that case, and if i understand correctly, you can set `regex_priority` for the single wildcard hostname route higher, so that it will always got matched before other routes.

[2020-07-07 15:19] alexmbird commented on #38
I've given `regex_priority` a go but it doesn't appear to have an effect.  Perhaps it applies to regexes and not wildcard-based hostnames.  I tried it alongside regex hostnames as well but the Kubernetes `Ingress` resource lacks support for them.

In case it helps here's the Kubernetes resource I'm using.  Pointed to `kong2-general-admin` backend as a hack for now.

[code]

[2020-07-15 17:04] lukasa1993 opened #39 "acme error on docker-kong"
hello i am running kong from official docker `:latest` and `:2.1` trying to set acme plugin i have dummy service and route and when i am trying to invoke domain with `curl -k` i get this :

[code]

db is `postgres:9` have this `KONG_LUA_SSL_TRUSTED_CERTIFICATE: /etc/ssl/certs/ca-certificates.crt` in env

it seems that it doesn't like `/etc/ssl/certs/ca-certificates.crt` i checked file is there…

[2020-07-15 19:16] lukasa1993 commented on #39
https://github.com/fffonion/lua-resty-acme/blob/f4f2027437348487a2108b6f525f2e84d0c9b1e1/lib/resty/acme/client.lua#L110

fails here… seems like it gets `18: self signed certificate` on acme url… i use default one `https://acme-v02.api.letsencrypt.org/directory`

@fffonion any idea ?

[2020-07-21 07:02] fffonion commented on #39
Hi @lukasa1993, can you share the full kong.conf or any other environment variables you are passing to the container?

[2020-07-21 10:34] lukasa1993 commented on #39
@fffonion
[code]

this is all i don't have custom kong.conf

i tried :latest as well same error

[2020-07-21 10:59] fffonion commented on #39
thanks for sharing that. now i realize the error is `self signed certificate`. if it's indeed the `KONG_LUA_SSL_TRUSTED_CERTIFICATE` not taking effect, the error will be `unable to verify local issuer certificate`.
so my next question will be what's the `api_url` you set for the acme plugin? is it an internal CA other than let's encrypt?

[2020-07-21 12:27] lukasa1993 commented on #39
@fffonion what you mean api_url ? i used exact same samples as in readme i have acme-dummy service and rout CA cert is whatever comes in docker img i haven't put it my self

[2020-07-21 12:31] fffonion commented on #39
@lukasa1993 do you have any other config fields other than those when adding the plugin?
[code]

[2020-07-21 12:34] lukasa1993 commented on #39
i changed storage to `KONG` but not in same command otherwise its same

[2020-07-21 12:34] lukasa1993 commented on #39
but i changed storage to kong after it wasn't working already

[2020-07-21 12:48] fffonion commented on #39
emm i can't reproduce that error on my side. could you send me the docker image ID/hash you are using? it can be viewed by running `docker images`

[2020-07-21 12:59] fffonion commented on #39
please also share the `localhost:8001/plugins` endpoint output

[2020-07-21 13:11] lukasa1993 commented on #39
kong                         latest              6cd6bc3dc612        6 days ago          146MB
kong                         2.1                 0d03308d3ec7        6 days ago          147MB

[code]

@fffonion i swapped actual email and domain but rest is exact same

[2020-07-21 13:24] fffonion commented on #39
those looks good to me. thanks!
let's try this:
create this file under /tmp/a.lua
[code]
run
[code]

[2020-07-21 13:57] lukasa1993 commented on #39
[code]

@fffonion seems this worked

[2020-07-21 18:08] lukasa1993 commented on #39
didn't meant it solve problem :) it just returned something

[2020-07-22 07:27] fffonion commented on #39
@lukasa1993 yeah that at least verifies the environment is sane. btw you are still seeing that error log right, meaning it's not an ephemeral thing from let's encrypt side.

[2020-07-22 07:32] lukasa1993 commented on #39
@fffonion still there i am trying every day same error

[2020-07-22 07:32] lukasa1993 commented on #39
atm i am using letsencypt cert from certbot on same server and domain without issue

[2020-07-22 07:44] fffonion commented on #39
i still suspect the issue is not related to trusted certificate, as the error message indicates otherwise.
okay let's try to see if the network kong lives is behaving correctly:
1) `docker exec` into the created kong container, and run a `wget https://acme-v02.api.letsencrypt.org/directory -O -`
2) try use a different network in the docker compose file, probably the default `bridge` or `host` netw

[2020-07-22 09:09] lukasa1993 commented on #39
[code]

@fffonion i use bridge network no dns setup that i have done its all default

[2020-07-22 09:13] lukasa1993 commented on #39
umm it worked just now for no apparent reason :(

[2020-07-22 12:50] fffonion commented on #39
emmm okay this is really weird

[2020-07-29 20:28] lukasa1993 commented on #39
@fffonion issue came back after restart… no idea what fixed it and why its back

[2020-07-31 07:21] fffonion commented on #39
@lukasa1993 I would still put my 5 cents on the network/environment you are running but not plugin itself. Since the let's encrypt API is not likely a self-signed certificate. But it could also be some deeper bug from connection reuse or something.

I have a super hacky idea for debugging this 😂
on kong/plugins/acme/client.lua before Line 93:
[code]

you can modify the file in host and bind mount

[2020-08-01 16:11] Rahimianes opened #42 "UNIQUE violation detected"
I have below error when I want to create a new certificate .

{"message":"UNIQUE violation detected on '{consumer=null,name=\"acme\",route=null,service=null}'","name":"unique constraint violation","fields":{"service":null,"name":"acme","route":null,"consumer":null},"code":5

the installation was followed with this below guide:
https://docs.konghq.com/hub/kong-inc/acme/#create-certificates
but I ca

[2020-08-03 08:22] fffonion commented on #42
Hi @Rahimianes , that means you already have a global `acme` plugin configured. You can check all configured plugins by sending `curl localhost:8001/plugins`.

[2020-08-03 18:52] Xplouder opened #43 "Periodic renew throwing an error"
Hi,

the periodic renew routine is causing always the bellow error. Any idea why?

Debug log:
[code]

Kong version **2.0.3**. Tryed  **2.1.0** and the error is the same.

Thank you.

[2020-08-04 06:11] fffonion commented on #43
Hi @Xplouder , this is a bug, I opened #44, please try with that patch if possible. Thanks!

[2020-08-04 09:24] fffonion commented on #42
Closing this as it's not an issue with plugin or Kong but rather configuration issue. Please reopen if you run into other issues.

[2020-08-04 09:24] #42 closed

[2020-08-04 09:39] Xplouder commented on #43
@fffonion whats the best way to patch it?
I'm running inside a docker image. I could change the files manually but I couldn't find `01-client_spec.lua` there.

[2020-08-04 09:42] fffonion commented on #43
01-client_spec.lua is for test and you don't need that. you can either build a docker image upon kong's official ones, or volume mount this repository into container `-v kong-plugin-acme/kong/plugins/acme:/usr/local/share/lua/5.1/kong/plugins/acme`

[2020-08-04 10:20] Xplouder commented on #43
The domains were not renewed, plus looks like the routine just tried update one, failed and didn't try others. Here is the logs with your patch:

[code]

[2020-08-04 10:26] fffonion commented on #43
@Xplouder the error looks like a trusted ca certificate issue, did you configure `lua_ssl_trusted_certificate` properly?

[2020-08-04 10:31] Xplouder commented on #43
I guess so. I already added from the past an env var `KONG_NGINX_PROXY_LUA_SSL_TRUSTED_CERTIFICATE=/etc/ssl/certs/ca-certificates.crt` in the container.
I rechecked and the `/etc/ssl/certs/ca-certificates.crt` exists.

[2020-08-04 10:34] fffonion commented on #43
Maybe try with `KONG_LUA_SSL_TRUSTED_CERTIFICATE` instead of only `NGINX_PROXY_*` as the renewal may not only triggered by proxy request.

[2020-08-04 15:51] Xplouder commented on #43
You were right, `KONG_LUA_SSL_TRUSTED_CERTIFICATE` did the trick. With your patch, the certs were refreshed correctly.
Weird because I always had `KONG_NGINX_PROXY_LUA_SSL_TRUSTED_CERTIFICATE`... wondering if this env is even needed :thinking:

Suggestion:
create an env like `KONG_ACME_PLUGIN_TIMER_INTERVAL` to set [this](https://github.com/Kong/kong-plugin-acme/blob/master/kong/plugins/acme/handl

[2020-08-04 15:54] fffonion commented on #43
@Xplouder not sure about the version shipped with kong 2.0.3, but from plugin version 0.2.4 (at least kong 2.1 packaged with later than this version) you can actively trigger the "renewal cycle" from admin api using `curl http://localhost:8001/acme -XPATCH`

[2020-08-04 15:55] fffonion commented on #43
Also I'm going to go ahead and merge that PR and release a new version, hopefully this can go into 2.1.1

[2020-08-04 15:55] #43 closed

[2020-08-04 16:00] Xplouder commented on #43
@fffonion Thank you.

[2020-08-12 08:23] #38 closed

[2020-08-13 11:59] ani006 commented on #10
Hey !! i'm using docker container + dbless mode kong.
here my kong.yml :
plugin
- name: acme
  config:
    account_email: example@test.com   // which is my personal id and ntg to do with domain.
    api_uri: "https://acme-v02.api.letsencrypt.org"
    domains:
      - "xyz.alphabets.com"
    tos_accepted: true

Docker-compose file :
kong:
  container_name: kong_gateway
  image: kong:latest
  volume

[2020-08-13 12:02] fffonion commented on #10
@ani006 for env variable you will need `KONG_LUA_SSL_TRUSTED_CERTIFICATE` instead of `lua_ssl_trusted_certificate`. please open a new issue next time instead of appending to a closed issue : )

[2020-08-13 12:13] ani006 commented on #10
It worked brother!! But as you can see in my docker-compose i've exposed 80 port but i don't want to expose that port. But if i'm doing that it's giving me err like this =>
2020/08/13 12:09:16 [error] 22#0: *272 [kong] handler.lua:104 failed to update certificate: could not create certificate: failed to create new order: Error creating new order :: too many failed authorizations recently: see http

[2020-08-13 12:17] fffonion commented on #10
@ani006 the error meaning you are hitting the rate limit, you can either try with a different domain or different IP. but i would suggest to use the staging environment first (see [config.api_uri](https://github.com/Kong/kong-plugin-acme#plugin-config)). this plugin currently only supports http-01 challenge, meaning exposing the 80 port is a requirement.

[2020-08-13 12:24] ani006 commented on #10
Exposing port 80 is bit risky for me ! what would you suggest me other than that ?

[2020-08-26 09:13] vijithv opened #48 "Failed to renew certs when http-01 fails for a domain"
We have noticed that _some_ of our domain certificates aren't getting renewed by the scheduled worker process but works fine when we use the `/acme -d [domain]` endpoint (version 0.2.10).

Looking at the code for `client.renew_certificate()`, it seems the following line of code returns from the loop when `update_certificate()` fails for a domain
https://github.com/Kong/kong-plugin-acme/blob/master

[2020-08-26 09:18] fffonion commented on #48
@vijithv thanks for reporting this. Yes this is by design, as failure of one domain may be resulted from bad configuration and we don't want to blindly run into rate limiting. This will be made better in following versions when we introduce a backoff.

[2020-08-26 12:18] vijithv commented on #48
@fffonion thanks for the quick reply

[2020-09-04 14:59] fffonion commented on #39
Closing for inactivity, @lukasa1993 feel free to reopen or create a new issue if you are still seeing issues.

[2020-09-04 14:59] #39 closed

[2020-09-04 15:27] lukasa1993 commented on #39
hard to replicate still chasing when that happens seems random

[2020-09-16 08:47] #48 closed

[2020-09-16 08:48] fffonion commented on #48
@vijithv There'll be a new config `config.fail_backoff_minutes` that allow you to continue after failure in next release of plugin.

[2020-09-23 21:09] jcm300 opened #53 "Certificate renewed but not used by Kong"
Hi. I'm using this plugin (v0.2.7-1) in DB less mode with Redis.

The plugin renews the certificate correctly. However does not replace the used certificate by Kong (Nginx of course), in other words, when I request the API via browser it still shows the previous certificate not the new one. For that I need to restart Kong (I'm using the docker image v2.0.5 so I restart the Kong container).

This i

[2020-10-09 07:01] jeremyjpj0916 commented on #53
Think I had similar case where I was pulling down a updated CRL file for revoked certs with my Kong instance, I think you need to run a kong reload CLI command after pulling down the fresh cert, cross posting from here:

https://discuss.konghq.com/t/kong-acme-plugin-certificate-renewed-but-not-used-by-kong/7218/2?u=jeremyjpj0916

[2020-10-09 07:16] fffonion commented on #53
You don't need to reload kong, actually even you do so the cache may still be valid. I think it's a mistake that the plugin caches the certkey without `ttl` (relying on the default kong.cache setting) and kong.cache is initialized with ttl set to never expire in dbless mode https://github.com/Kong/kong/blob/254deec3cceef78654a1cba6eb32798c417e993a/kong/global.lua#L201.

I will make a PR.

[2020-10-09 07:26] fffonion commented on #53
@jcm300 Could you try https://github.com/Kong/kong-plugin-acme/pull/55 ?

[2020-10-09 13:12] jcm300 commented on #53
I will try and I will report if it worked or not. I can't test right now but in the following days (2, 3 days) I will do it.
Is there a simple way to try this branch in a Kong container?

[2020-10-09 13:14] ghost commented on #53
@jcm300 try gojira: https://github.com/Kong/gojira

[2020-10-11 14:22] jcm300 commented on #53
@fffonion Hi. I already tested it and I think it didn't solve the problem. If I obtain the certificate from `curl <kong_admin>/acme/certificates` it will return the correct certificate:

[code]

However if I access it through the browser it shows an old certificate:
![2020-10-11_14-48-19](https://user-images.githubusercontent.com/23564120/95680341-df285e80-0bd0-11eb-8b5d-518c8aa36004.png)

To test

[2020-10-11 14:26] fffonion commented on #53
@jcm300 Yeah I forgot to mention there's a cache with TTL or 1 hour, as in dbless mode there's no cluster level events to purge cache, we rely on the TTL to passively expire old certs. The TTL is selected as same as Kong and considering the renewal frequency is pretty low.
We can verify the behaviour by making the TTL low at here https://github.com/Kong/kong-plugin-acme/blob/fix/dbless-ttl/kong/pl

[2020-10-11 15:39] fffonion commented on #53
I've pushed another commit to that branch and verified both database and dbless mode now has non-nil TTL set.

[2020-10-11 16:30] jcm300 commented on #53
@fffonion I restarted the Kong container today unfortunately, so now I can only verify if it worked in the next automatic renewal.

[2020-10-11 23:10] jcm300 commented on #53
@fffonion I checked it now and it seems to me that it is now working properly. I put `ttl = 60` in the line you mentioned. I will check back tomorrow but I think you can mark this problem as resolved.
One question, with `renew_threshold_days: 30` what value will the TTL variable have? In other words, is it possible that the cached certificate will become invalid and continue to be used?

[2020-10-12 04:55] fffonion commented on #53
@jcm300  The TTL will always be 3600s/1 hour, regardless of `renew_threshold_days`. The TTL only specifies the valid time of cache for cert and key after it's been retrieved from storage like redis.

[2020-10-12 07:33] jcm300 commented on #53
@fffonion So, if I understand it correctly, after a certificate renewal it will take at max 1h to update the certificate, right?
Thank you.

[2020-10-12 07:38] fffonion commented on #53
@jcm300 Yes, 1hr for dbless mode after renewal. In database mode you don't need to wait 1hr though, this is instant.

[2020-10-13 13:42] #53 closed

[2020-10-17 15:50] OneideLuizSchneider opened #57 "Problems renewing the certificates"
Hi
I have some problems with renewing my certificates.

When I create a new one, it works well because I still don't have a route to redirect the requests to my cluster.
Once I create the route(on Kong Service), the requests will be redirected, after this, the renewing doesn't work.

What I do to solve this is removing the route(on Kong Service), and remove the certificate, and create it again.

I

[2020-10-18 06:34] fffonion commented on #57
Hi @OneideLuizSchneider this is a known bug when using with kong >= 2.0.5 in dbless mode. There's a fix #55 but haven't been released with Kong yet. For now your can install the new plugin version with `luarocks install lua-resty-acme --force` and built a new image.

[2020-10-18 14:10] OneideLuizSchneider commented on #57
Hi @fffonion, thanks for your answer.
I saw the other issues here, and they are similar.

But I think it is another problem because it just happens when I have a route(on Kong Service) and redirect the requests, when I remove the route(on Kong Service) and force and renew, It works well.

[2020-10-18 19:58] OneideLuizSchneider commented on #57
Hi @fffonion
I found the 'problem' and when It happens.

It just happens when I have just **HTTPS** activate on the Route, when I let with **HTTP** and **HTTPS** than It works well.

How I figured this out, when I run the **test_http_challenge_flow** with and without HTTP on the Route.

- With http on the Route:
`curl http://localhost:8001/acme -d host=domain.com -d test_http_challenge_flow=true `

[2020-10-19 06:34] fffonion commented on #57
@OneideLuizSchneider That's good observation! Yes you will need the challenge request to properly routable. If your existing route are all HTTPS, you can create a dummy route that accepts the acme http challenge only as in https://github.com/Kong/kong-plugin-acme#enable-the-plugin

[2020-10-19 13:00] OneideLuizSchneider commented on #57
@fffonion I have the dummy(HTTP) route as Global, and works well.
But when renew, Letsencrypt sends the request to the domain as you can see on the first comment here.
And because I have the route(on Kong Service) that match, he will use this one.

[2020-10-19 13:29] fffonion commented on #57
@OneideLuizSchneider There's no difference on what Let's Encrypt server will request between a new cert and a renewal, they are validated on same path. If I understand it correctly, it's likely a route priority issue, try create a route that will match the /well-known/.acme-challenge/ path on the domain you are interested but with HTTP protocol.

[2020-10-19 14:02] OneideLuizSchneider commented on #57
@fffonion Yep, I tried this before, and works as well.
But I thought maybe there was something more different/simple, just because I have more than 60 domains and everyone has subdomains.
Would be much easier if I could create just one dummy route for` /.well-known/.acme-challenge`.
But it's ok, I appreciate your help, thanks a lot.

[2020-10-19 14:02] #57 closed

[2020-10-27 08:21] aogg commented on #53
Created successfully but still can't work

[2020-10-27 08:23] aogg commented on #18
curl https://mydomain.com -k

Created successfully but still can't work

[2020-12-11 15:31] iacapuca opened #61 "Failing to generate ACME certificates"
Hello, currently I have a Kong API Gateway running through my single node docker swarm with a few API’s behind it, I’m totally able to reach each of the trough each route, but only through HTTP.
I have installed the ACME plugin, although it’s not clear to me how I should configure it in order to trigger the creation of the certificates for each service.

If I run:

`curl http://127.0.0.1:8001/acme

[2020-12-11 15:36] fffonion commented on #61
@iacapuca could you share your kong/kong enterprise version and the plugin's config? and if you install the plugin manually, could you also share the plugin version?

[2020-12-11 15:47] iacapuca commented on #61
My Kong is not the enterprise one, and I'm using the latest image from docker hub

`
{
  "created_at": 1607698670,
  "id": "ebb6e3b3-6120-47bc-b962-b83c6f69f6a2",
  "tags": null,
  "enabled": true,
  "protocols": [
    "grpc",
    "grpcs",
    "http",
    "https"
  ],
  "name": "acme",
  "consumer": null,
  "service": null,
  "route": null,
  "config": {
    "api_uri": "https://acme-v02.api.letsen

[2020-12-11 15:49] fffonion commented on #61
thanks you @iacapuca which version of kong gateway are you running?

[2020-12-11 15:50] iacapuca commented on #61
The latest one, 2.2.1

[2020-12-11 15:52] fffonion commented on #61
Ok, then it shouldn't have the cache bug. Are we running Kong in multiple nodes/containers? Since I saw you are using the `shm` storage and it won't propagate between different clusters. If so try to use `kong` storage.
(I do saw a `replica: 3` so i assume that's the case)

[2020-12-11 15:54] iacapuca commented on #61
I'm so sorry, I just realized i was using `shm`, I have just changed to `kong` and it did worked just fine.
If I may ask, what would happen if I bring my Kong containers down? Would I still have some persistence of the certs after and bring them up again?

[2020-12-11 15:57] fffonion commented on #61
@iacapuca It will, with database mode the created cert are stored in Certificate and SNI entity, it will be persistent in kong's database.

[2020-12-11 15:58] iacapuca commented on #61
Thank you very much for all the answers, I'll be closing this issue now.

[2020-12-11 15:58] #61 closed

[2020-12-31 03:11] garysdevil opened #62 "How to disign port when create or renew certificate"
How to disign port when create or renew certificate
![image](https://user-images.githubusercontent.com/41293784/103392452-f4ba7e00-4b58-11eb-9c31-baa64e064b01.png)

[2021-01-01 15:28] fffonion commented on #62
@garysdevil the acme http-01 challenge requires port 80, you can't use a custom port for this. you will need to let kong to listen port 80 or use a load balancer that listens on port 80 and forward to kong.

[2021-01-05 03:37] garysdevil commented on #62
Got it

[2021-01-05 03:37] #62 closed

[2021-01-05 03:39] garysdevil commented on #62
Can't use custom port

[2021-01-07 15:32] portothree commented on #11
Hello @guyromb
I'm facing the same issue right now, receiving the following error:
`2021/01/07 15:28:41 [error] 29#0: *116 [kong] handler.lua:109 failed to update certificate: could not create certificate: failed to create new order: Error creating new order :: too many certificates already issued for exact set of domains: api.example.pt: see https://letsencrypt.org/docs/rate-limits/, context: ngx

[2021-02-17 13:50] aogg commented on #20
Which version of Kong corresponds to

https://hub.docker.com/_/kong

2.3.2-alpine, 2.3-alpine, 2.3.2, 2.3, 2, alpine, latest
2.3.2-ubuntu, 2.3-ubuntu, ubuntu
2.3.2-centos, 2.3-centos, centos
2.2.1-alpine, 2.2-alpine, 2.2.0, 2.2
2.2.1-ubuntu, 2.2-ubuntu
2.2.1-centos, 2.2-centos
2.1.4-alpine, 2.1-alpine, 2.1.4, 2.1
2.1.4-ubuntu, 2.1-ubuntu
2.1.4-centos, 2.1-centos
2.0.5-alpine, 2.0.5, 2.0
2.0.5-ubun

[2021-03-24 20:55] DrPyser opened #66 "local testing issues"
Hi!

I'm trying to setup and test this plugin on my local machine before production deployment, but I'm having no luck getting through the sanity checks or any kind of test.

First, here's my kong config snippet for the dummy service/route:

For example, I tried using ngrok and the sanity check:

[code]

Here's my config snippet for the service:
[code]
And for the plugin:

[code]

Tried with tunne

[2021-03-24 22:18] DrPyser commented on #66
Got it working, I think the acme plugin config was missing the "domains" section.

[2021-03-31 17:13] fffonion commented on #66
Consider it resolved, feel free to re-open if there's still issue : )

[2021-03-31 17:13] #66 closed

[2021-05-11 06:35] hgeorge89 opened #67 "no corresponding response found for...."
Hello!

Im sorry if this problem has been resolved, but I haven't been able to fix it yet.
What happens is that I can successfully renew the certificate manually, but it automatically fails and I get a 404 error code back.
The following error logs occur to me:

[code]

[code]

Thank you in advance for your answer!

[2021-05-12 08:03] hgeorge89 commented on #67
@fffonion
Is it possible that it doesn't work for me due to the KONG version and has been fixed in later versions?
This is my KONG version: 2.1.4

[2021-05-12 08:06] fffonion commented on #67
@hgeorge89 i would suggest to try a newer version of Kong. BTW `failed to fetch SNI` is an noise error
that doesn't affect this plugin, it's also fixed in later version of Kong.

[2021-05-12 08:09] hgeorge89 commented on #67
@fffonion
OK
So then automatic certificate renewal doesn't work due to another problem?
Thank you in advance for your answer!

[2021-05-12 08:25] fffonion commented on #67
@hgeorge89 Please try with a more recent version of Kong, the plugin itself has received bunch of bug fixes in between.

[2021-05-12 09:29] hgeorge89 commented on #67
@fffonion
Thank you very much for the answers!
I close it.

[2021-05-12 09:29] #67 closed

[2021-06-03 05:18] TVenuMadhav opened #68 "[Enquiry] LetsEncrypt post regarding DST Root CA X3 Expiration (September 2021)"
# Context:

LetsEncrypt issued a notice regarding DST Root CA X3 Expiration. [[Ref](https://letsencrypt.org/docs/dst-root-ca-x3-expiration-september-2021/)]

So after the deadline the default certificate chain is said to be a cross signed one [Subscriber Certificate < – R3 < – ISRG Root X1 < – DST Root CA X3 ]

---

This query is regarding this  [[Ref](https://letsencrypt.org/2020/12/21/extending-

[2021-06-03 08:42] fffonion commented on #68
Hi @TVenuMadhav thanks for bringing this up. Currently we haven't supported `alternate` link nor does
selecting an alternative chain. That is a valid improvement I will work on shortly.

[2021-06-03 08:44] TVenuMadhav commented on #68
Thank you for the quick response!

[2021-06-03 08:51] fffonion commented on #68
I will still point out that, unless you are testing compatiblity with both chains, or are intentionally stays on the old/alternate
chain, there's no need to explictly go back to to the old/alternate chain. As in normal cases, both chains are supported
and can be validated.

You may at least need to actively renew the certificates once, if your certificates' validity time
is after the expiration of

[2021-07-14 15:17] DrPyser opened #72 "Failure to renew certificates(automatically or manually)"
[code]

Running the renewal:

[code]

From the error logs:
[code]
Seems the plugin is not catching the request for `/.well-known/acme-challenge`.

My routing config:
[code]

Thanks!

[2021-07-14 15:35] DrPyser commented on #72
KONG_VERSION=2.3.3

acme plugin full config:
[code]

[2021-07-14 15:39] fffonion commented on #72
@DrPyser Thanks for repoting this. Could you turn on `debug` logging and record the Kong error log
when doing renewal or sanity test?

[2021-07-15 15:51] Hydrogenhax opened #73 "selecting 'kong' storage does not work and inconsistent behaviour of cert storage location when using vault as storage when running kong in hybrid mode"
Hello,

I've been testing the acme plugin on my kong hybrid mode setup which consists of 1 control plane and 1 data plane node.
I did not see any section in the documentation specifically pertaining to kong hybrid mode setups so I'll post my issue here and hope it gets picked up or someone can point me in the right direction.

The issue I have encountered is that the plugin does not function when

[2021-07-19 16:06] fffonion commented on #73
Hi @Hydrogenhax those are very insightful observations. In currrent hybrid mode, kong storage is not working
"properly".

If the cert is applied with proxy request (an HTTPS request comes to `https://mydomain.com` that triggers the creation
of cert), those challenge responses would be stored in DP side's acme_storage DAO. Since DP runs in dbless, Kong will complain you can't modify the DAO. Actual

[2021-07-21 09:29] Hydrogenhax commented on #73
Hi @fffonion,

Appreciate the quick response and detailed explanation on this issue.
Just want to add another observation that those certs applied from admin API from the control plane do not seem to be able to auto-renew, while those applied from proxy request with the certs stored in vault are able to be auto-renewed. Just a heads up for anyone else attempting to use the acme plugin with a hybri

[2021-07-22 16:47] #73 closed